{% extends'layouts/admin.html' %}
{% block title %} Categorias {% endblock %}
{% block page_title %} Categorias {% endblock %}
{% block main %}
<div id="app">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>
                        {{ categoria.name }}
                    </td>
                    <td></td>
                    <td>
                        <div class="columns">
                            <div class="column">
                                <a href="{{ url_for('editar_categoria', id=categoria.id)}} " class="button is-primary">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="column">
                                <a @click="mostrarOcultarModal({{ categoria.id }})" class="button is-danger">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal" v-bind:class="{'is-active': verBorrar}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Seguro que quieres borrarlo</p>
            <button class="delete" aria-label="close"></button>
            </header>
            <footer class="modal-card-foot">
                <form action="{{ url_for('borrar_categoria')}}" method="post">
                    <input :value="categoriaIdBorrar" type="hidden" name="categoria-borrar">
                    <button class="button is-success">Si</button>
                </form>
                <button class="button is-danger" @click="mostrarOcultarModal(0)">No</button>
                
            </footer>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                verBorrar: false,
                categoriaIdBorrar: 0
            },
            methods: {
                mostrarOcultarModal: function (idBorrar) {
                    this.verBorrar = !this.verBorrar;
                    this.categoriaIdBorrar = idBorrar;
                }
            }
        });
    });
</script>
{% endblock %}
