{% extends'layouts/admin.html' %}
{% block title %} Articulos {% endblock %}
{% block page_title %} Articulos {% endblock %}
{% block main %}
<form action="" method="post">
    <!-- Titulo -->
    <div class="field">
        <label class="label">Nombre del tag</label>
        <div class="control">
            <input class="input is-primary" type="text" placeholder="Nombre" name="nombre">
        </div>
    </div>
    <!-- Boton enviar -->
    <!-- Boton enviar -->
    <div class="has-text-centered">
        <input type="submit" value="Guardar" class="button is-primary">
    </div>
</form>
{% endblock %}