{% extends'layouts/master.html' %}
{% block title %} Blog {% endblock %}
{% block page_title %} Blog {% endblock %}
{% block main %}

<div id="app">
    <!-- El loop para que aparezcan los ariculos -->
    <a v-for="articulo in articulos" href="">
        <div class="card">
            <div v-if="articulo.portada" class="card-image">
                <figure class="image is-4by3">
                    <img :src="articulo.portada" alt="">
                </figure>
            </div>
            <div class="card-content">
                <p class="title">
                    [[ articulo.title ]]
                </p>
                <p class="subtitle">
                    [[ articulo.text ]]
                </p>
            </div>
        </div>
    </a>
    <!-- Pagiador -->
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a @click="cambiarPaginaAnterior" v-if="pag != 1" class="pagination-previous is-primary">Anterior</a>
        <a @click="cambiarPaginaSiguiente" v-if="pag < max_pags" class="pagination-next is-primary">Siguiente</a>
    </nav>
</div>
{% endblock %}
{% block scripts %}
<!-- Link Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- Link VueResource -->
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                pag: 1,
                articulos: [],
                max_pags: {{max_pags}}
            },
            mounted: function () {
                this.cargarPagina();
            },
            methods: {
                cargarPagina: function () {
                    // GET /someUrl
                    this.$http.get('/api/articulos/' + this.pag).then(response => {
                    // get body data
                        this.articulos = response.body
                    }, response => {
                    // error callback
                    });
                },
                cambiarPaginaAnterior: function () {
                    this.pag -= 1;
                    this.cargarPagina();
                },
                cambiarPaginaSiguiente: function () {
                    this.pag += 1;
                    this.cargarPagina();
                }
            }
        });
    });
</script>
{% endblock %}
